body {
  margin: 0;
  font-family: 'Inter', sans-serif; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f9fa; /* light background for the full behance website */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.z-index-100 {
    z-index: 100;
}

/* hover background for light elements (buttons, links) */
.hover-bg-light:hover {
  background-color: #f8f9fa !important;
}

/*  hover text color for white-ish text on dark background */
.hover-text-white:hover {
  color: white !important;
}

/* Hide scrollbar for overflowing elements but allow scrolling */
.hide-scroll {
  -ms-overflow-style: none;  /* IE and edge */
  scrollbar-width: none;  /* firefox */
}
.hide-scroll::-webkit-scrollbar {
  display: none; /* chrome, safari, opera */
}

@import './components/Header.css';
@import './components/Projects.css';
@import './components/Footer.css';