.headerbg {
  background-color: #f1f1f1;
  padding: 9px 0;
}

.topheader {
  background-color: grey;
  overflow: hidden;
  white-space: nowrap;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 10px;
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scroll-left 25s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.TOPHEADERR {
  color: #000;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
